.container {
  height: 100vh;
  background: white;
  min-width: 80px;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 0px 10px; */
}

.middleOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  justify-content: space-between;
  transform: translateY(-15px);
}

.icons {
  cursor: pointer;
  color: rgba(128, 128, 128, 0.863);
  font-size: 30px;
}

.icons:hover {
  color: black;
}

.tooltip {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
}
